.hero {
	background-image: url('../../assets/sprout_logo_transparent.png');
	background-size: cover;
	background-position: 6rem -3.5rem;

	height: 11rem;	
	color: green;
	padding: 1rem 0 2rem 2rem;
	display: flex;
	align-items: end;
	margin-bottom: 2rem;
}