
.addAndSearchContainer {
	display: flex;
	justify-content: space-around;
}

.addAndSearchContainer input,
.addAndSearchContainer button {
	font-size: 1.5rem;
	padding: 0.5rem;
}

.addAndSearchContainer button {
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
}

@media screen and (min-width: 500px) {
	.addAndSearchContainer {
		justify-content: end;
		gap: 1rem;
	}	
}