.wheelBackdrop {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;

	padding-top: 15rem;
	backdrop-filter: blur(5px);
	color: #4CAF50;
	font-weight: 400;	
}

.wheelBackdrop p {
	color: transparent; 
	background: linear-gradient(to right, #4CAF50, #c6e1cf, #4CAF50); /* Gradient colors */
	background-clip: text; 
	background-size: 200%;
	animation: gradientShine 3s ease infinite;
}

.wheel {
	width: 70px;
	height: 70px;
	border: 10px solid #f3f3f3;
	border-top: 8px dotted #4CAF50;
	border-right: 8px dotted #4CAF50;
	border-radius: 50%;
	animation: spin 3s ease infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes gradientShine {
	0% {
	  background-position: 200%; /* Start the gradient off-screen */
	}
	100% {
	  background-position: -200%; /* Slide it fully across the text */
	}
  }