
.seedListLi {
	border-bottom-right-radius: 15px;
	display: flex;
	justify-content: space-between;	
	list-style: none;		
}


.seedListLi div {
	height: 5rem;
	flex: 1;
	align-self: center;
	padding: 0.5rem;
}

.seedListLi:first-child {
	font-weight: 600;
}

.seedListLi:nth-child(odd) {
	background-color: rgb(218,213,200);
}

[type="number"] {
	width: 3rem;
	padding: 0.3rem;
}

.seedList__buttonContainer {
	display: flex;
	justify-content: space-evenly;
}

.seedList__buttonContainer button {
	width: 1.5rem;
	background: none;
	border: none;
}