
.seedListLi {
	min-height: 5rem;
	padding-bottom: 2rem;
	border-bottom-right-radius: 15px;
	list-style: none;	
}

.seedListLi__headings {
	margin-left: 2.5rem;
	display: flex;
	justify-content: space-between;	
	font-weight: 600;
}

.seedListLi__headings div, 
.seedListLi div {	
	flex: 1;
	align-self: center;
	padding: 0.5rem 0.5rem 0 0.5rem;
}

.seedListLi:nth-child(odd) {
	background-color: rgb(218,213,200);
}

/* ACCORDION */
.seedListLi__accordionClosedContent {
	display: flex;
	justify-content: space-between;	
}

.seedListLi__accordionOpenContent {
	margin: 0 2rem;	
	display: flex;	
	flex-direction: column;
	gap: 0.5rem;
}

.seedListLi__accordionOpenContent>div {
	width: 100%;
	display: flex;
	gap: 1rem;
}

.seedListLi__accordionOpenContent>div>span {	
	min-width: 6rem;
}

.seedListLi__accordionOpenContent span:first-child {
	font-weight: 600;
}

.accordionButton {
	width: 2rem;
	font-size: 1.2rem;	
	border: none;
	background: none;	
}

.active {  
	transform: rotate(180deg);		/* Flip chevron */
}

/* BUTTONS */

.seedList__buttonContainer {
	display: flex;
	justify-content: space-evenly;
}

.seedList__buttonContainer button {
	width: 1.5rem;
	background: none;
	border: none;
}