.seedListLi {
	min-height: 5rem;
	padding-bottom: 1.5rem;
	border-bottom-right-radius: 15px;
	list-style: none;
}

.seedListLi__headings {
	margin-left: 2.5rem;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
}

.seedListLi__headings div,
.seedListLi div {
	flex: 1;
	align-self: center;
	padding: 0.5rem;
}

.seedListLi:nth-child(odd) {
	background-color: rgb(218, 213, 200);
}

/* ACCORDION */
.seedListLi__accordionClosedContent {
	display: flex;
	justify-content: space-between;
}

.seedListLi__accordionOpenContent {
	margin: 0 2rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.seedListLi__accordionOpenContent > div {
	width: 100%;
	display: flex;
	gap: 1rem;
}

.seedListLi__accordionOpenContent > div > span {
	min-width: 6rem;
}

.seedListLi__accordionOpenContent span:first-child {
	font-weight: 600;
}

.accordionButton {
	width: 2rem;

	font-size: 1.2rem;
	border: none;
	background: none;
}

.active svg {
	transform: rotate(180deg); /* Flip chevron */
}

.chevron {
	position: relative;
	top: 0.15rem;
	opacity: 0.6;
}

/* BUTTONS */

.seedList__buttonContainer {
	display: flex;
	justify-content: space-evenly;
}

.seedList__buttonContainer button {
	width: 1.5rem;
	background: none;
	border: none;
}

/* NO ITEM IN STOCK- PAGE */

.noItemsContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.noItems {
	letter-spacing: 3px;
	font-size: 1.5rem;
	font-weight: 300;
}

.noItemsLogo {
	width: 3rem;
	border-radius: 10%;
	opacity: 0.8;
}
