body {
  font-family: inter, sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
}

main {
  
  width: clamp(200px, 100%, 1200px);
  margin: 0 auto;
  flex: 1;
  padding: 0 0.5rem;   
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer {
  text-align: center;
  padding: 1rem;
}